apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
  namespace: scv
  labels:
    app: test-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: test-app
  template:
    metadata:
      labels:
        app: test-app
    spec:
      nodeSelector:
        agentpool: userpool
      containers:
        - name: test-app
          image: scvacr.azurecr.io/kotlin-echo:test2
          ports:
            - containerPort: 18080
              name: http
          readinessProbe:
            httpGet:
              path: /api/health
              port: 18080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/health
              port: 18080
            initialDelaySeconds: 15
            periodSeconds: 10
