apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-agent-config
  namespace: monitoring
data:
  agent.yaml: |
    server:
      log_level: info
      log_format: json

    # ===== Loki 로그 수집 =====
    loki:
      configs:
        - name: scv-logs
          # 로그 오프셋 저장 파일
          positions:
            filename: /var/lib/grafana-agent/positions.yaml

          clients:
            - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

          scrape_configs:
            # --- Kubernetes Pod 로그 ---
            - job_name: kubernetes-pods
              kubernetes_sd_configs:
                - role: pod
                  namespaces:
                    names: ["scv"]

              pipeline_stages:
                # 1. 로그 앞부분 제거하고 JSON만 추출
                - cri: {}
                # 2. JSON  빠른탐색을 위한 indexing
                - json:
                    expressions:
                      timestamp: timestamp
                      level: level
                      logger: logger
                      thread: thread
                      message: message
                      service: service
                      pod: pod
                      node: node
                      ip: ip
                      query: query
                      responseSize: responseSize
                      userId: userId
                      duration: duration
                      resultStatus: resultStatus
                      event: event
                      method: method
                      resultCode: resultCode
                      categoryCode: categoryCode
                      categoryName: categoryName
                      apiTitle: apiTitle
                      openapiUrl: openapiUrl
                      resultMessage: resultMessage
                    source: log
                
                # 2. 타임스탬프 파싱
                - timestamp:
                    source: "@timestamp"
                    format: RFC3339
                    location: "Asia/Seoul"
                
                # 3. 주요 라벨만 추가 (카디널리티 관리)
                - labels:
                    level:
                    service:
                    event:
                    resultStatus:

              relabel_configs:
                # (1) 네임스페이스 필터: scv
                - source_labels: [__meta_kubernetes_namespace]
                  regex: scv
                  action: keep

                # (2) 같은 노드의 파드만 수집 (DaemonSet 특성)
                #- source_labels: [__meta_kubernetes_pod_node_name]
                #  regex: ${HOSTNAME}
                #  action: keep

                # (3) 메타데이터 → 쿼리용 라벨
                - source_labels: [__meta_kubernetes_namespace]
                  target_label: namespace
                - source_labels: [__meta_kubernetes_pod_name]
                  target_label: pod
                - source_labels: [__meta_kubernetes_pod_container_name]
                  target_label: container
                - source_labels: [__meta_kubernetes_pod_label_app]
                  target_label: app
                #  app → job (원하면 유지)
                - source_labels: [__meta_kubernetes_pod_label_app]
                  target_label: job

                # (4)
                #     /var/log/pods/<podUID>/<container>/*.log
                - action: replace
                  source_labels: [__meta_kubernetes_pod_uid, __meta_kubernetes_pod_container_name]
                  separator: /
                  regex: (.*)/(.*)
                  replacement: /var/log/pods/*$1/*$2/*.log
                  target_label: __path__
